<div class="row-fluid" dir="rtl" style="background-image:url(assets/icons/13.jpg)">
  <div class="row">
    <img class="img-fluid" src="assets/icons/logo.jpg" alt="" style="width: 250px;height: 250px;">
  </div>
  <div class="row table-responsive-lg" align="center" >
    <div class="row"  >
        <img src="assets/icons/img2.jpg" id="img" title="مرحبا بكم في بنامكو للمطابخ"  srcset="" alt="Nature" class="responsive">
        <h2 id="b"> مرحبا بكم في بنامكو للمطابخ <br></h2>
        <h2 id="bb">
          <h2> شركة مصنع البنام لمطابخ الألمنيوم المحدودة <br></h2>
          <h2> شركة مطابخ في المملكة العربية السعودية<br></h2>
          <h2>  تأسست عام 1995م </h2>

        </h2>

    </div>
  </div>
  <div class="content">
    <p class="description"></p><a class="card" href="https://goo.gl/maps/hedWBA4QmB7GUChk8/">
      <a>
      <div class="front" style="background-image: url(assets/icons/9.jpg)">
        <p>فرع الأحساء </p>
      </div>
     </a>
      <div class="back">
        <div>
          <p>الأحساء في المنطقة الشرقية من السعودية،</p>
          <p>Town Center Al Hufuf and Al Mubarraz 7791 الهفوف, الهفوف والمبرز 36341</p>
          <button class="button">اضغط هنا</button>
        </div>
      </div></a><a class="card" href="https://goo.gl/maps/14neobLbdg2uobxbA">
      <div class="front" style="background-image:url(assets/icons/2.jpg)">
        <p>فرع الدمام</p>
      </div>
      <div class="back">
        <div>
          <p>الدمام مدينه موجودة فى شرق السعوديه و هى عاصمة المنطقه الشرقيه </p>
          <p>شارع الملك عبدالعزيز، البديع، الدمام 32415</p>
          <button class="button">اضغط هنا</button>
        </div>
      </div></a><a class="card" href="https://goo.gl/maps/e9wpxZSkp9Qy8Yas6">
      <div class="front" style="background-image: url(assets/icons/7.jpg)">
        <p>فرع الخبر</p>
      </div>
      <div class="back">
        <div>
          <p>الخُبَر هي مدينة سعودية، والعاصمة الإدارية لمحافظة الخُبر في المنطقة الشرقية بالمملكة العربية السعودية. تقع جنوب الدمام التي تبعد عنها بمسافة 17 كم،</p>
          <p>اليرموك، الخبر 34423</p>
          <button class="button">اضغط هنا </button>
        </div>
      </div></a><a class="card" href="https://goo.gl/maps/z5dDfnqrVBWGLWiq8">
      <div class="front" style="background-image: url(assets/icons/6.jpg)">
        <p>معرض سرايا</p>
      </div>
      <div class="back">
        <div>
          <p>الصناعية القديمة </p>
          <p>طريق المدينة المنورة، الصناعية القديمة، الرياض 12871</p>
          <button class="button">اضغط هنا</button>
        </div>
      </div></a><a class="card" href="https://goo.gl/maps/gudiAZD6wDDcRcVh7">
      <div class="front" style="background-image: url(assets/icons/4.jpg)">
        <p>معرض بنامكو</p>
      </div>
      <div class="back">
        <div>
          <p>شارع التخصصي</p>
          <p>امام ساكو، شارع التخصصي، العليا، الرياض 11421</p>
          <button class="button">اضغط هنا</button>
        </div>
      </div>
    </a>
    <a class="card" href="https://goo.gl/maps/v3rsaqYU79TZavGs7" >
      <div class="front" style="background-image:url(assets/icons/10.jpg)">
        <p> معرض البنام</p>
      </div>
      <div class="back">
        <div>
          <p>شارع التخصصي</p>
          <p>شارع التخصصي، المعذر الشمالي، الرياض 12476</p>
          <button class="button">اضغط هنا</button>
        </div>
      </div>
    </a>
    <a class="card" href="https://goo.gl/maps/9JHx1915F6CNh8xq9" >
      <div class="front" style="background-image:url(assets/icons/10.jpg)">
        <p> معرض يلس</p>
      </div>
      <div class="back">
        <div>
          <p>شارع التخصصي</p>
          <p>شارع التخصصي، حي المحمدية، الرياض 12364</p>
          <button class="button">اضغط هنا</button>
        </div>
      </div>
    </a>
    <a class="card" href="https://goo.gl/maps/7Qe8ZyvsURvVkGga6" >
      <div class="front" style="background-image: url(assets/icons/11.jpg)">
        <p> معرض كلاسيك</p>
      </div>
      <div class="back">
        <div>
          <p>الصناعية القديمة </p>
          <p>طريق المدينة المنورة، الصناعية القديمة، الرياض 12871</p>
          <button class="button">اضغط هنا</button>
        </div>
      </div>
    </a>
    <a class="card" href="https://goo.gl/maps/3YAMtw8Jv38K1X5YA" >
      <div class="front" style="background-image:url(assets/icons/13.jpg)">
        <p> معرض استايل</p>
      </div>
      <div class="back">
        <div>
          <p>مخرج 9 </p>
          <p>طريق الإمام سعود بن عبدالعزيز بن محمد، التعاون، الرياض 12476</p>
          <button class="button">اضغط هنا</button>
        </div>
      </div>
    </a>
    <a class="card" href="https://goo.gl/maps/aCEEeESCCFkKj7Rr7" >
      <div class="front" style="background-image:url(assets/icons/11.jpg)">
        <p> معرض مودرن</p>
      </div>
      <div class="back">
        <div>
          <p>مخرج 9 </p>
          <p> حي التعاون بين مخرج ٧ و ٦، طريق الإمام سعود بن عبدالعزيز بن محمد، التعاون، الرياض 12476 </p>
          <button class="button">اضغط هنا</button>
        </div>
      </div>
    </a>
    <a class="card" href="https://goo.gl/maps/yStGeq5Y8X2MwdHg8" >
      <div class="front" style="background-image:url(assets/icons/14.jpg)">
        <p> مصنع بنامكو</p>
      </div>
      <div class="back">
        <div>
          <p>حي الفيصلية</p>
          <p>7496 محايل، الفيصلية، الرياض 12883</p>
          <button class="button">اضغط هنا</button>
        </div>
      </div>
    </a>
  </div>
  <div  class="row-fluid" style="margin:100px">
 <form style="margin-top: 150px ;" >
  <div class="row">
    <div class="col-md-6">
      <div class="row" align="center">
        <a href="https://www.instagram.com/banamco_sa/">
          <img src="assets/icons/instagram.png"  style="width:100px ;height:100px;margin: 10px;"alt="" srcset="">
        </a>
      </div>
      <div class="row" align="center">
        <a href="https://twitter.com/Banamco_sa">
          <img src="assets/icons/twitter.png"  style="width:100px ;height:100px;margin: 10px;"alt="" srcset="">
        </a>
      </div>
      <div class="row" align="center">
        <a href="https://www.facebook.com/banamco1">
          <img src="assets/icons/facebook.png"  style="width:100px ;height:100px;margin: 10px;"alt="" srcset="">
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row" align="center">
        <a href="https://www.linkedin.com/company/82612966/admin/">
          <img src="assets/icons/linkedin.png"  style="width:100px ;height:100px;margin: 10px;"alt="" srcset="">
        </a>
      </div>
      <div class="row" align="center">
        <a href="https://www.tiktok.com/@banamco">
          <img src="assets/icons/tiktok.png"  style="width:100px ;height:100px;margin: 10px;"alt="" srcset="">
        </a>
      </div>
      <div class="row" align="center">
        <a href="https://www.snapchat.com/add/banamco">
          <img src="assets/icons/snapchat.png"  style="width:100px ;height:100px;margin: 10px;"alt="" srcset="">
        </a>
      </div>
    </div>
  </div>
  <div class="row" align="center">
    <a href="https://www.youtube.com/channel/UCX9AtTfcZkui0_wuxgiEkrA">
      <img src="assets/icons/youtube.png"  style="width:100px ;height:100px;margin: 10px;"alt="" srcset="">
    </a>
  </div>
 </form>

 <form style="margin-top: 150px;">
  <div class="row ">
    <div class="col-md-3" align="center">
      <a href="https://banamco-sa.com/">
        <img src="assets/icons/website.png"  style="width:70px ;height:70px;margin: 10px;"alt="" srcset="">
      </a>
    </div>
    <div class="col-md-3" align="center">
      <a href="https://api.whatsapp.com/send/?phone=966530000475&text&type=phone_number&app_absent=0">
        <img src="assets/icons/whatsapp.png"  style="width:70px ;height:70px;margin: 10px;"alt="" srcset="">
      </a>
    </div>
    <div class="col-md-3" align="center">
      <label style="text-align:center ; font-size: 20px;font-weight: bolder;color: white;" >0530000475 </label>
        <img src="assets/icons/phone.png"  style="width:70px ;height:70px;margin: 10px;"alt="" srcset="">
    </div>
    <div class="col-md-3" align="center">
      <a href="mailto:info@banamco.sa">
        <img src="assets/icons/gmail.png"  style="width:70px ;height:70px;margin: 10px;"alt="" srcset="">
      </a>
    </div>
  </div>
 </form>
  </div>
  </div>
